<div class="flex flex-col w-full">
    <!-- ========================================== -->
    <!-- ==============    HEADER   =============== -->
    <!-- ========================================== -->
    <div class="flex flex-col border-b bg-white dark:bg-transparent">
        <div
            class="flex flex-row sm:items-center justify-between p-6 w-full max-w-screen-xl mx-auto sm:py-8 sm:px-10"
        >
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500"> Main </a>
                    </div>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            svgIcon="heroicons_outline:chevron-right"
                        ></mat-icon>
                        <span class="ml-1 text-primary-500">Inventories</span>
                    </div>
                </div>
                <!-- Title -->
                <div class="mt-2">
                    <div
                        class="text-4xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate text-dark-900"
                    >
                        Inventories
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center space-x-2">
                <button
                    class="fuse-mat-button-rounded bg-accent-700"
                    mat-flat-button
                    [color]="'accent'"
                    [routerLink]="['./add']">
                
                   
                    <span class="ml-2">New Inventory</span>
                </button>
            </div>
        </div>
    </div>

    <div class="flex  p-5 gap-4 mt-5 w-full max-w-screen-xl mx-auto">
        <!-- ========================================== -->
        <!-- ============== FILTERS =============== -->
        <!-- ========================================== -->
        <div
            class="grid grid-cols-2 sm:grid-cols-4  w-full "
        >
            <div class="flex flex-col items-start">
                <label
                    for="underline_select"
                    class="font-bold uppercase text-xs"
                    >Search by name / barcode:</label
                >
                <input
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
                    type="text"
                    placeholder="Type product name..."
                />
            </div>

            <div class="flex flex-col items-start">
                <label
                    for="underline_select"
                    class="font-bold uppercase text-xs"
                    >Filter by category:</label
                >
                <select
                    id="underline_select"
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
                >
                    <option selected="">Type category name</option>
                    <option></option>
                    <option></option>
                </select>
            </div>
            <div class="flex flex-col items-start">
                <label
                    for="underline_select"
                    class="font-bold uppercase text-xs"
                    >Filter by branch:</label
                >
                <select
                    id="underline_select"
                    class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
                >
                    <option selected="">Type brand name</option>
                    <option></option>
                    <option></option>
                </select>
            </div>

            <div
                class="flex flex-row items-center justify-end space-x-6 w-full"
            >
                <div>
                    <div class="flex flex-row rounded justify-end" role="group">
                        <button
                        (click)="changeDisplay(1)"
                            type="button"
                            class="text-dark-900 bg-white border-gray-400 rounded-l-md inline-flex items-center focus:outline-none font-medium text-sm px-3.5 py-2.5 text-primary-900 border-l border-t border-b hover:text-white hover:bg-primary-900 cursor-pointer"
                        >
                        <mat-icon
                        svgIcon="heroicons_outline:view-list"
                    ></mat-icon>  
                        </button>

                        <button
                        (click)="changeDisplay(2)"
                            type="button"
                            svgIcon="heroicons_outline:view-list"
                            class="text-dark-900 bg-white border-gray-400 rounded-r-md inline-flex items-center focus:outline-none font-medium text-sm px-3.5 py-2.5 text-primary-900 border hover:text-white hover:bg-primary-900 cursor-pointer"
                        >
                            <mat-icon
                            svgIcon="heroicons_outline:view-grid"
                        ></mat-icon>
                        
                        </button>
                    </div>
                </div>
            </div>
        </div> 
    </div>





        <div class="bg-white shadow-md rounded mt-10" *ngIf="display === 1;" >
            <table mat-table [dataSource]="dataSource" matSort class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th class="font-bold py-3 px-6 text-left" mat-header-cell *matHeaderCellDef mat-sort-header > ID </th>
              <td class="py-3 px-6 text-center"  mat-cell *matCellDef="let row" >
                <div class="flex items-center">
                    {{row.id}}
                </div>
            </td>
            </ng-container>
        
            <!-- name Column -->
            <ng-container matColumnDef="branch">
              <th class="font-bold py-3 px-6 text-left" mat-header-cell *matHeaderCellDef mat-sort-header > Branch </th>
              <td class="py-3 px-6 text-center"  mat-cell *matCellDef="let row">
                <div class="flex items-center">
                {{row.branchId}}
            </div>
            </td>
            </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="product">
                    <th class="font-bold py-3 px-6 text-left" mat-header-cell *matHeaderCellDef mat-sort-header >Product </th>
                    <td class="py-3 px-6 text-center"  mat-cell *matCellDef="let row" >
                        <div class="flex items-center">
                        {{row.productId}}
                    </div>
                    </td>
                  </ng-container>
              
        
            <!-- Progress Column -->
            <ng-container matColumnDef="price">
              <th class="font-bold py-3 px-6 text-left" mat-header-cell *matHeaderCellDef mat-sort-header > Price </th>
              <td class="py-3 px-6 text-center"  mat-cell *matCellDef="let row" >
                <div class="flex items-center">
                    {{row.price | currency}}
            </div>
            </td>
            </ng-container>
        
        
            <!-- Fruit Column -->
            <ng-container matColumnDef="quantity">
              <th class="font-bold py-3 px-6 text-left" mat-header-cell *matHeaderCellDef mat-sort-header >Quantity</th>
              <td class="py-3 px-6 text-center" mat-cell *matCellDef="let row" >
                <div class="flex items-center">
                {{row.quantity}}
            </div></td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th class="font-bold py-3 px-6 text-left" mat-header-cell *matHeaderCellDef mat-sort-header >Date</th>
                <td class="py-3 px-6 text-center" mat-cell *matCellDef="let row" >
                  <div class="flex items-center">
                  {{row.date | date}}
              </div></td>
              </ng-container>

            <ng-container matColumnDef="action">
              <th class="font-bold py-3 px-6 text-left" mat-header-cell *matHeaderCellDef mat-sort-header > Action</th>
             <td class="py-3 px-6 text-center" mat-cell *matCellDef="let row" >
                <div class="flex item-center">
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                        <button
                        mat-icon-button  [routerLink]="['./details/1']"
                        >
                        <mat-icon svgIcon="heroicons_outline:eye"></mat-icon>
                    </button>

                    </div>
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                      
                        <button
                        mat-icon-button
                        (click)="updateInventory(row.id)">
                        <mat-icon svgIcon="heroicons_outline:pencil"></mat-icon>
                    </button>
                    
                    </div>
                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                        
                        <button
                        mat-icon-button
                        (click)="deleteInventory(row.id)">
                        <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                    </button>
                    </div>
                </div>
             </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
           

        </div>

        <app-grid *ngIf="display === 2;">

        </app-grid>
        
       
            
        
</div>