<div class="flex flex-col flex-auto min-w-0">
    <!-- ========================================== -->
    <!-- ==============    HEADER   =============== -->
    <!-- ========================================== -->
    <div class="flex flex-col border-b bg-white dark:bg-transparent">
        <div
            class="flex flex-row sm:items-center justify-between p-6 w-full max-w-screen-xl mx-auto sm:py-8 sm:px-10"
        >
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500"> Main </a>
                    </div>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            svgIcon="heroicons_outline:chevron-right"
                        ></mat-icon>
                        <span class="ml-1 text-primary-500">Branches</span>
                    </div>
                </div>
                <!-- Title -->
                <div class="mt-2">
                    <div
                        class="text-4xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate text-dark-900"
                    >
                        Branches
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center space-x-2">
                <button
                    class="fuse-mat-button-rounded bg-accent-700"
                    mat-flat-button
                    [color]="'accent'"
                >
                  
                    <span class="ml-2">Register Branch</span>
                </button>
            </div>
        </div>
    </div>

    

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
        <!-- ========================================== -->
        <!-- ============== FILTERS =============== -->
        <!-- ========================================== -->
        <fuse-card class="flex flex-col max-w-80 w-full mt-5 ml-5 p-8 filter-info border-b-8 border-gray-900">
            <div class="text-2xl font-semibold leading-tight">Masvingo Church</div>
            <hr class="w-full border-t my-6">
            <div class="mt-4">
               Folders : 3
                <br><br>
                Files : 13
            </div>
            <hr class="w-full border-t my-6">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    <span class="leading-none">Mucheke, Masvingo</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:user'"></mat-icon>
                    <span class="leading-none">Created By : Pastor Moyo</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    <span class="leading-none">Created Date : April, 24 2022</span>
                </div>
            </div>
            <button
                class="px-6 mt-8"
                mat-flat-button
                [color]="'primary'"
                routerLink="/records/churches/church/4">
                Go to records
            </button>
        </fuse-card>
        
        
        <fuse-card class="flex flex-col max-w-80 w-full mt-5 ml-5 p-8 filter-info border-b-8 border-gray-900">
            <div class="text-2xl font-semibold leading-tight">Mutare Church</div>
            <hr class="w-full border-t my-6">
            <div class="mt-4">
               Folders : 3
                <br><br>
                Files : 13
            </div>
            <hr class="w-full border-t my-6">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    <span class="leading-none">Meru, Mutare</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:user'"></mat-icon>
                    <span class="leading-none">Created By : Pastor Dube</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    <span class="leading-none">Created Date : April, 25 2022</span>
                </div>
            </div>
            <button
                class="px-6 mt-8"
                mat-flat-button
                [color]="'primary'"
                routerLink="/records/churches/church/4">
                Go to records
            </button>
        </fuse-card>
        
        <fuse-card class="flex flex-col max-w-80 w-full mt-5 ml-5 p-8 filter-info border-b-8 border-gray-900">
            <div class="text-2xl font-semibold leading-tight">Harare Headquarters</div>
            <hr class="w-full border-t my-6">
            <div class="mt-4">
               Folders : 3
                <br><br>
                Files : 13
            </div>
            <hr class="w-full border-t my-6">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    <span class="leading-none">Town, Harare</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:user'"></mat-icon>
                    <span class="leading-none">Created By : Pastor Ruva</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    <span class="leading-none">Created Date : April, 26 2022</span>
                </div>
            </div>
            <button
                class="px-6 mt-8"
                mat-flat-button
                [color]="'primary'"
                routerLink="/records/churches/church/4">
                Go to records
            </button>
        </fuse-card>
        
        <fuse-card class="flex flex-col max-w-80 w-full mt-5 ml-5 p-8 filter-info border-b-8 border-gray-900">
            <div class="text-2xl font-semibold leading-tight">Gweru Church</div>
            <hr class="w-full border-t my-6">
            <div class="mt-4">
               Folders : 3
                <br><br>
                Files : 13
            </div>
            <hr class="w-full border-t my-6">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    <span class="leading-none">Mkoba, Gweru</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:user'"></mat-icon>
                    <span class="leading-none">Created By : Pastor Tim</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon
                        class="icon-size-5 mr-3"
                        [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                    <span class="leading-none">Created Date : April, 25 2022</span>
                </div>
            </div>
            <button
                class="px-6 mt-8"
                mat-flat-button
                [color]="'primary'"
                routerLink="/records/churches/church/4">
                Go to records
            </button>
        </fuse-card>

    </div>
   


    
</div>
