<div class="flex flex-col flex-auto min-w-0">
    <!-- ========================================== -->
    <!-- ==============    HEADER   =============== -->
    <!-- ========================================== -->
    <div class="flex flex-col border-b bg-white dark:bg-transparent">
        <div
            class="flex flex-row sm:items-center justify-between p-6 w-full max-w-screen-xl mx-auto sm:py-8 sm:px-10"
        >
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500"> Main </a>
                    </div>

                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon
                            svgIcon="heroicons_outline:chevron-right"
                        ></mat-icon>
                        <span class="ml-1 text-primary-500">Invoices</span>
                    </div>
                </div>
                <!-- Title -->
                <div class="mt-2">
                    <div
                        class="text-4xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate text-dark-900"
                    >
                        Invoices
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center space-x-2">
                <button
                    class="fuse-mat-button-rounded bg-accent-700"
                    mat-flat-button
                    [color]="'accent'"
                    [routerLink]="['./add']">
                
                  
                    <span class="ml-2">Upload Invoice</span>
                </button>
            </div>
        </div>
    </div>




    <div
    class="flex flex-wrap m-5">
    <ng-container>
        <a
            class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card"
            >
            <div class="aspect-w-9 aspect-h-6">
                <div class="flex items-center justify-center">
                    <!-- Icons -->
                    <div class="relative">
                        <mat-icon
                            class="icon-size-14 text-hint"
                            [svgIcon]="'iconsmind:file'"></mat-icon>
                        <div
                            class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                            [class.bg-red-600]="'PDF'"
                           >
                            PDF
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                <div
                    class="truncate"
                    >January</div>
                <ng-container>
                    <div class="text-secondary truncate"></div>
                </ng-container>
            </div>
        </a>
    </ng-container>


    <ng-container>
        <a
            class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card"
            >
            <div class="aspect-w-9 aspect-h-6">
                <div class="flex items-center justify-center">
                    <!-- Icons -->
                    <div class="relative">
                        <mat-icon
                            class="icon-size-14 text-hint"
                            [svgIcon]="'iconsmind:file'"></mat-icon>
                        <div
                            class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                            [class.bg-red-600]="'PDF'"
                           >
                            PDF
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                <div
                    class="truncate"
                    >February</div>
                <ng-container>
                    <div class="text-secondary truncate"></div>
                </ng-container>
            </div>
        </a>
    </ng-container>

    <ng-container>
        <a
            class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card"
            >
            <div class="aspect-w-9 aspect-h-6">
                <div class="flex items-center justify-center">
                    <!-- Icons -->
                    <div class="relative">
                        <mat-icon
                            class="icon-size-14 text-hint"
                            [svgIcon]="'iconsmind:file'"></mat-icon>
                        <div
                            class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                            [class.bg-red-600]="'PDF'"
                           >
                            PDF
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                <div
                    class="truncate"
                    >February</div>
                <ng-container>
                    <div class="text-secondary truncate"></div>
                </ng-container>
            </div>
        </a>
    </ng-container>


    <ng-container>
        <a
            class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card"
            >
            <div class="aspect-w-9 aspect-h-6">
                <div class="flex items-center justify-center">
                    <!-- Icons -->
                    <div class="relative">
                        <mat-icon
                            class="icon-size-14 text-hint"
                            [svgIcon]="'iconsmind:file'"></mat-icon>
                        <div
                            class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                            [class.bg-red-600]="'PDF'"
                           >
                            PDF
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                <div
                    class="truncate"
                    >February</div>
                <ng-container>
                    <div class="text-secondary truncate"></div>
                </ng-container>
            </div>
        </a>
    </ng-container>
    
</div>









</div>
