


<div class="flex flex-col flex-auto w-full">

    <nav class="bg-gray-800">
        <div class="mx-2 max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="flex h-16 sm:items-start sm:justify-start">
           
            <div class="flex flex-1 items-center justify-center sm:items-start sm:justify-start">
              <div class="flex justify-start">
                <img class="block h-20 w-20 lg:hidden" src="assets/images/logo1.png" alt="Your Company">
                <img class="hidden h-20 w-20 lg:block" src="assets/images/logo1.png" alt="Your Company">
              </div>
              
            </div>

          
            
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        
      </nav>




    
<main class="container mx-w-6xl py-4">
    <div class="flex flex-col space-y-8">

<div class="flex flex-col space-y-8 p-4">
    <div class="flex flex-col">
        <div class="text-gray-800 font-semibold text-7xl sm:ml-10 sm:mt-10 mb-0">Welcome, Lesly!</div>
    </div>

    <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col ml-28">
            <span class="text-muted text-lg">Welcome to <b>Smart MushikaShika</b></span>
            <span class="text-muted text-lg ">Here's a view of your suggested actions</span>
            
        </div>
        <div class="flex justify-end flex-row space-x-8 mr-28">
            <div class="flex flex-col">
                 <span class="text-lg  text-muted">My Balance</span>
                <div class="mt-1 text-3xl text-dark font-semibold">$4200</div>
            </div>
            <div class="flex flex-col">
                 <span class="text-lg text-muted">Next order date</span>
                <div class="mt-1 text-3xl text-dark font-semibold">1 Oct 2022</div>
            </div>
        </div>
    </div>
  
<div class="flex flex-col mx-28">
    <div class="flex flex-row space-x-2 font-semibold text-lg mb-10">        
        <mat-icon svgIcon="heroicons_outline:view-grid"></mat-icon>
   <span>My applications</span>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div class="bg-white p-6 rounded shadow-md cursor-pointer">
        <div class="flex flex-col">
                <div class="h-20">
                      <img class="block h-14 w-14" src="assets/images/stock.png" />
                </div>
                <div class="mt-1 text-3xl text-dark font-semibold">My Inventories</div>
                <span class="mt-2 text-base text-muted border-l-2 border-slate-500 pl-3">Last Accessed 3 Hours ago</span>
                <div class="flex flex-row w-full text-lg justify-between w-full mt-5 text-@(Application.Color)-500 align-center">
                    <div>Launch app</div>
                    <mat-icon svgIcon="heroicons_outline:chevron-right"></mat-icon>
                </div>
            </div>
    
    </div>

    <div class="bg-white p-6 rounded shadow-md cursor-pointer">
        <div class="flex flex-col">
                <div class="h-20">
                      <img class="block h-14 w-14" src="assets/images/accounts.png" />
                </div>
                <div class="mt-1 text-3xl text-dark font-semibold">My Accounts</div>
                <span class="mt-2 text-base text-muted border-l-2 border-slate-500 pl-3">Last Accessed 3 Hours ago</span>
                <div class="flex flex-row w-full text-lg justify-between w-full mt-5 text-@(Application.Color)-500 align-center">
                    <div>Launch app</div>
                    <mat-icon svgIcon="heroicons_outline:chevron-right"></mat-icon>
                </div>
            </div>
    
    </div>

    <div class="bg-white p-6 rounded shadow-md cursor-pointer">
        <div class="flex flex-col">
                <div class="h-20">
                      <img class="block h-14 w-14" src="assets/images/branches.png" />
                </div>
                <div class="mt-1 text-3xl text-dark font-semibold">My Branches</div>
                <span class="mt-2 text-base text-muted border-l-2 border-slate-500 pl-3">Last Accessed 3 Hours ago</span>
                <div class="flex flex-row w-full text-lg justify-between w-full mt-5 text-@(Application.Color)-500 align-center">
                    <div>Launch app</div>
                    <mat-icon svgIcon="heroicons_outline:chevron-right"></mat-icon>
                </div>
            </div>
    
    </div>

    <div class="bg-white p-6 rounded shadow-md cursor-pointer">
        <div class="flex flex-col">
                <div class="h-20">
                      <img class="block h-14 w-14" src="assets/images/user.png" />
                </div>
                <div class="mt-1 text-3xl text-dark font-semibold">My Users</div>
                <span class="mt-2 text-base text-muted border-l-2 border-slate-500 pl-3">Last Accessed 3 Hours ago</span>
                <div class="flex flex-row w-full text-lg justify-between w-full mt-5 text-@(Application.Color)-500 align-center">
                    <div>Launch app</div>
                    <mat-icon svgIcon="heroicons_outline:chevron-right"></mat-icon>
                </div>
            </div>
    
    </div>


</div>
</div>

</div>
</div>
</main>


</div>